@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Montserrat:wght@300&family=Poppins:wght@200&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
}
body{
    width: 100%;
    background: #E5E5E5;
}
.block{
    padding-top: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 442px;
}

.first__block{
    height: 300px;
    width: 300px;
}
.first__title{
    padding-top: 29px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1D1F2E;
}   
.first__subtitle{
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
.first__date{
    padding-top: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.second__block{
    height: 300px;
    width: 300px;
}
.second__title{
    padding-top: 29px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1D1F2E;
}   
.second__subtitle{
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
.second__date{
    padding-top: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}
.third__block{
    height: 300px;
    width: 300px;
}
.third__title{
    padding-top: 29px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #1D1F2E;
}   
.third__subtitle{
    padding-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
}
.third__date{
    padding-top: 16px;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #1D1F2E;
}

